@import "../../styles/color.scss";

.film-card-small-link {
    width          : 100%;
    text-decoration: none;
    margin         : 10px;
    padding        : 0px;

    &:hover {
        background-color: transparent;
    }

    .film-card-small {
        width          : 95%;
        color          : $color-text;
        font-size      : 14px;
        border-radius  : 5px;
        cursor         : pointer;
        display        : flex;
        justify-content: center;
        align-items    : center;
        transition     : transform border-radius background-color 0.5s ease;

        &:hover {
            border-radius   : 10px;
            background-color: $color-button-hover;
            transform       : scale(1.05);
        }

        &:active {
            background-color: $color-button-active;
        }

        .film-card-small-poster {
            width        : 50px;
            padding      : 5px;
            border-radius: 10px;
        }

        .film-card-small-information {
            display       : flex;
            flex-direction: column;
            flex          : 1;
            padding       : 0 0 0 10px;
            gap           : 4px;

            .film-card-small-title {
                text-transform: capitalize;
                text-overflow : ellipsis;
                text-align    : left;
                margin-bottom : 0px;
                color         : $color-text;
                font-weight   : 700;
                line-height   : 120%;
                font-size     : 14px;
                overflow      : hidden;
                width         : 100%;
            }

            .film-card-small-rating {
                color           : $color-white;
                background-color: $color-primary;
                padding         : 5px 10px;
                font-size       : 10px;
                font-weight     : 700;
                border-radius   : 5px;
                width           : 50px;
                box-shadow      : 0px 0px 15px rgba(0, 0, 0, 0.3);
            }


        }
    }
}