@import '../../styles/color.scss';
.booking-showtime{
    width: 100%;
    border-radius: 5px;
    background-color: $color-white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);;
    margin: 20px 0;
    padding: 10px 14px;
    .booking-showtime-title {
        display: flex;
        text-align: left;              
        cursor: pointer;
        .title {
            color: $color-title;
            font-size: 18px;
            margin: 12px 0;
            flex: 1;
        }

        .icon{
            color: $color-title;
            margin: 12px 0;
            font-size: 24px;
            cursor: pointer;
        }
    }
    .booking-showtime-content {
        width: 100%;
    }
}
