.film-page-container {
    * {
        margin    : 0;
        padding   : 0;
        box-sizing: border-box;
    }

    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    padding-top    : 30px;
    margin-top     : 50px;

    .film-page-main-content {
        max-width: 1080px;
        padding  : 20px;
    }

}