$color-primary                 : #ff953f;
$color-primary-disabled        : #fdb274;
$color-white                   : #fff;
$color-gray                    : #777;
$color-black                   : #000000;
$color-background              : #f9f9f9;
$color-text                    : #333;
$color-title                   : #212121;
$color-available               : #ccc;
$color-booked                  : #e0e0e0;
$color-selected                : #ff953f;
$color-button-selected         : #1565c0;
$color-button-unselected-border: #ccc;
$color-button-hover            : #e0e0e0;
$color-button-active           : #969696;
$color-navbar-hover            : #162447;