@import '../../../styles/color.scss';
.booking-film {
    width: 70%;
    border-radius: 5px;
    background-color: $color-white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);;
    margin: 20px 0;

    .booking-film-title {
        display: flex;
        text-align: left;
        padding: 10px;
        margin: 0 4px;

        .title {
            color: $color-title;
            font-size: 18px;
            margin: 12px 0;
            flex: 1;
        }

        .icon{
            color: $color-title;
            font-size: 24px;
            margin: 12px 0;
            cursor: pointer;
        }
    }
    .booking-film-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: fit-content;
        padding: 0 10px 10px 10px;        
    }
}
