@import "../../styles/color.scss";

.category-list {
    width          : 100%;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : center;
    padding        : 25px;
    gap            : 20px;
    margin-top     : 50px;

    .category-list-title {
        text-align    : left;
        width         : 100%;
        margin        : 10px 40px;
        padding       : 0 10px;
        border-left   : 5px solid $color-primary;
        font-size     : 18px;
        font-weight   : 700;
        color         : $color-text;
        text-transform: uppercase;
    }
}