@import '../../../styles/color.scss';

.booking-showtime-filter{    
    display: flex;
    align-items: center;
    justify-content: space-between;

    .date-selector {
        gap: 5px;
        margin: 0px;
        display: flex;
      
        .date-item {
          background-color: #e0e0e0;
          color: $color-text;
          border: none;
          padding: 8px;
          border-radius: 5px;
          cursor: pointer;
          text-align: center;
          width: 80px;
          font-size: 12px;
      
          &.active {
            background-color: $color-button-selected;
            color: $color-white;
            font-weight: bold;
          }
        }
    }

    .theatre-selector {
        .theatre-selector-box{
            box-sizing: border-box;
            position: relative;
            display: flex;
            border: 1px solid rgb(204, 204, 204);
            width: 100%;
            outline-style: none;
            font-size: 16px;
            border-radius: 2px;
            padding: 2px 5px;
            flex-direction: row;
            direction: ltr;            
            align-items: center;
            cursor: pointer;
            min-height: 36px;
            pointer-events: all;
        }        
    }
}
