@import "../../styles/color.scss";

.movie-list-column {
    width          : 100%;
    display        : flex;
    flex-direction : column;
    flex-wrap      : wrap;
    justify-content: space-between;
    text-decoration: none;
    min-width      : 320px;
    padding        : 20px 0 0 0;

    @media (max-width: 360px) {
        margin: 0 20px;
    }

    .movie-list-column-title {
        text-align    : left;
        font-size     : 18px;
        font-weight   : 700;
        text-transform: uppercase;
        padding-left  : 10px;
        color         : $color-text;
        border-left   : 5px solid $color-primary;
    }

    .movie-list-column-content {
        display        : flex;
        flex-direction : column;
        flex-wrap      : wrap;
        justify-content: center;
        align-items    : center;
    }

    .movie-list-column-button {
        height          : 32px;
        margin          : auto;
        border          : none;
        border-radius   : 15px;
        background-color: $color-primary;
        color           : $color-white;
        display         : flex;
        justify-content : center;
        align-items     : center;
        transition      : background-color 0.5s ease;

        &:hover {
            color           : $color-text;
            background-color: $color-button-hover;
        }

        &:active {
            color           : $color-text;
            background-color: $color-button-active;
        }

        span {
            line-height: 30px;
            padding    : 5px 20px;
            font-size  : 16px;
            font-weight: 600;
        }
    }
}