@import "../../styles/color.scss";

.film-card-link {
    text-decoration: none;

    &:hover {
        background-color: transparent;
    }

    .film-card {
        width          : 250px;
        position       : relative;
        color          : $color-text;
        font-size      : 14px;
        border-radius  : 5px;
        cursor         : pointer;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        margin-bottom  : 10px;
        transition     : border-radius 0.5s ease;
        border-radius  : 10px;

        @media (max-width: 820px) {
            width: 180px;
        }

        @media (max-width: 420px) {
            width: 150px;
        }

        &:hover {
            border-radius: 0px;
            transform    : scale(1.03);
        }

        .film-card-rating {
            color           : $color-white;
            position        : absolute;
            width           : 50px;
            background-color: $color-primary;
            padding         : 5px 10px;
            font-size       : 10px;
            font-weight     : 700;
            border-radius   : 5px;
            right           : 10px;
            top             : 10px;
            box-shadow      : 0px 0px 15px rgba(0, 0, 0, 0.3);
        }

        .film-card-poster {
            width        : 100%;
            border       : 1px solid $color-gray;
            transition   : border-radius 0.5s ease;
            border-radius: 10px;

            &:hover {
                border-radius: 0px;
            }
        }

        .film-card-title {
            text-transform: capitalize;
            text-overflow : ellipsis;
            text-align    : left;
            position      : relative;
            margin-bottom : 0px;
            color         : $color-text;
            font-weight   : 700;
            line-height   : 120%;
            font-size     : 16px;
            margin-top    : 10px;
            cursor        : pointer;
            overflow      : hidden;
            width         : 100%;
            height        : 35px;
        }
    }
}