@import '../../styles/color.scss';
.booking-province{
    width: 100%;
    border-radius: 5px;
    background-color: $color-white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);;
    margin: 20px 0;
    .booking-province-title {
        display: flex;
        text-align: left;
        padding: 10px;
        margin: 0 4px;
        cursor: pointer;

        .title {
            color: $color-title;
            font-size: 18px;
            margin: 12px 0;
            flex: 1;
        }

        .icon{
            color: $color-title;
            margin: 12px 0;
            font-size: 24px;
            cursor: pointer;
        }
    }
    .booking-province-list {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        padding: 0 10px 10px 10px;
        .booking-province-item{
            color: $color-text;
            font-size: 14px;
            padding: 4px;
            margin: 4px;
            border: 1px solid $color-text;
            border-radius: 5px;
            cursor: pointer;
        }
        .active {
            background-color: $color-button-selected;
            border: none;
            color: $color-white;
            font-weight: 500;
          }
    }
}
